.content img {
    max-width: 100%;
    max-height: 500px;
}
.content {
    margin-left: 1%;
    margin-right: 1%;
    font-size: 18px;
}
.nav-item {
    font-size: 20px;
    font-weight: 700;
    color: #c7c6c6;
}
.nav-item:hover {
    background-color: #0d6efd;;
  }
  .navbar-dark .navbar-nav a.nav-link {
    color: #fff;
}