<meta name="robots" content="noindex">
<p><strong>Terms of Services</strong></p>

<p>The information provided by the Travel Cost Calculator is either provided by third-parties companies (ie. hotel costs, travel costs), or based on our own research (ie. food cost).</p>

<p>By using the Travel Cost Calculator, you Agree to the following terms and conditions:</p>

<ol>
  <li><p>You acknowledge that the Travel Cost Calculator provides general information only, that the information might be incomplete, inaccurate, and/or not up to date;</p></li>
<li><p>You acknowledge that the information provided by Travel Cost Calculator are not guaranteed, do not come with any covenants and/or warranties;</p></li>
<li><p>You acknowledge and agree not to rely on the information provided by Travel Cost Calculator;</p></li>
<li><p>You acknowledge that the Travel Cost Calculator might recommend specific third-party services providers. If you click on the links, and choose to to purchase any of their services (ie. hotel, flights) we might get a commission from the service provider (read our <a href="https://www.saporedicina.com/english/disclosure/" rel="noopener" target="_blank">Disclosure</a> for more details).</p>
<p>Also, you acknowledge that the Travel Cost Calculator doesn't book any service "automatically". In order to book any service, you will have to do so on the websites of the third-party services providers of your choice.</p></li>
<li><p>You acknowledge that by using the tool we might collect your email address , any information that you entered on the Travel Cost Calculator (itinerary, preferred type of accommodation, etc), and other information that might be necessary to provide you with a cost estimation for your trip (read our <a href="https://www.saporedicina.com/english/privacy-policy/" rel="noopener" target="_blank">Privacy Policy</a> for more details).</p></li>
</ol>

<p><strong>Applicable Law and Forum</strong></p>

<p>The Agreement shall be governed by and construed in accordance with the internal laws of the Hong Kong Special Administrative Region of the People's Republic of China. Any conflict or dispute between the Parties that may arise in connection with this Agreement shall be exclusively submitted to the competent civil court in Hong Kong.</p>